.main {
    height          : 500px;
    background-color: rgb(52, 190, 214);
    display         : flex;
    justify-content : center;
    align-items     : center;

    & img {
        width : 400px;
        height: 400px;
    }
}